{% extends "sitebase.html" %}
{% load i18n cache seen_by_emp %}


{% block title %} Résultats de la recherche automatique {% endblock title %}

{% block extra_style %}
  <link rel="stylesheet" type="text/css" href="/static/social_bis.css"> 
  <link href="/static/style/blog-style.css" rel="stylesheet">
  <link href="/static/test.css" rel="stylesheet">
{% endblock extra_style %}

{% block bottom-header %} {% endblock bottom-header %}

{% block middlecontent %}

<div class="col-sm-8">
  <br/>
    
    <div id="respo">
      <div class="panel panel-default">

        <div class="panel-heading">
          <span class="fa-stack ">
                  <i class="fa fa-square-o fa-stack-2x "></i>
                  <i class="fa fa-list-ul fa-stack-1x "></i>
          </span> 
          {% trans "Résultats de la recherche" %} 
        </div>


       <div class="panel-body">

        
         <div class="well">

          <strong> - Cette fonctionalé compare vos offres avec les demandes des candidats inscrits . </strong>
          <br/>
          <strong> - Cela permet de ramener les 6 premiers candidats mieux placés pour l'offre </strong>
          <br/>
          <strong> - Les degrés de correspondance sont définient par le nombre d'étoiles &nbsp;<i class="fa fa-star-o mark-blue"></i> &nbsp; </strong>
          <br/>

          <p class="lead">
            
            <!-- test mid content table --> 
            <!-- BEGIN TABLE DATA -->
        {% if offers %}

        {% for i in offers %}

            <div class="panel panel-default event">
              <div class="panel-body">

                <div class="author col-xs-2 col-sm-5">
                    <div class="profile-image">
                        <img src="http://placehold.it/100x100&text=logo"/>
                    </div>
                    <div class="profile hidden-xs">
                        <span style='color:black'> nombre de candidats proposés: {{i.candid_intersection.items|length}} </span>
                    </div>
                    
                </div>
                
                <div class="info col-xs-7 col-sm-5">
                  <article> {{ i.title }} </article>
                  <br/>
                  
                    <i class="fa fa-tag sml-size dark-green"></i> &nbsp;              <span class='result-icon'> {{ i.get_category_display }} </span><br/>
                    <i class="fa fa-map-marker sml-size rose"></i> &nbsp;&nbsp;&nbsp; <span class='result-icon'> {{ i.get_region_display }} </span><br/>
                    <i class="fa fa-calendar sml-size mark-blue"></i> &nbsp;          <span class='result-icon'> {{ i.created|date:"SHORT_DATE_FORMAT" }} </span><br/>
                  
                  <div class="visible-xs">&nbsp;</div>
                  <div class="hidden-xs">
                      
                    </div>
                </div>

                <div class="rsvp col-xs-3 col-sm-2">
                  
                  <br><br>
                  <a href="{{i.get_absolute_url}}"><span class="fa fa-search fa-2x"></span></a>

                </div>
                
              </div>

              <div class="panel-footer">
                
                      <br/>

                    {% ifequal i.candid_intersection.items|length 0 %}

                      <div class="alert-success">
                        <p class="lead">
                          Pas de candidats trouvés
                        </p>
                      </div>

                    {% else %}

                        {% for candid,correspondance in i.candid_intersection.items %}
                          
                                  <li style='list-style-type:none'>  

                                     <a href="{{ candid.get_absolute_url }} "> <i class="fa fa-search gray-ns"></i> {{ candid.get_full_name }}  </a>
                                      
                                    {% for j in correspondance  %}
                                        &nbsp;<i class="fa fa-star mark-blue"></i>
                                    {% endfor %}

                                  </li>

                        {% endfor %}
                        
                    {% endifequal %}  
                
              </div>

            </div>

            <hr/>

        {% endfor %}
        
        <!-- END TABLE DATA -->
        {% else %}

          <div class="info">
            <p class="lead">
              <br>
              Aucune offre déposée pour le moment
              &nbsp;
              <br>
            </p>
          </div>

        {% endif %}
            <!-- test mid content table ends --> 
            
          </p>
        </div>
         
       </div>

    </div>
    </div>

    <!-- google ads -->
    
    <div class="panel panel-default">
      <div class="panel-body" style='padding-left: 0px;'>
        <div class="col-sm-12" style='padding-left: 0px;'>
          <!-- <img src="http://placehold.it/670x70" alt="placeholder image" class='img-responsive'> -->
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- footer_annonces -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:670px;height:90px"
               data-ad-client="ca-pub-7389849661114491"
               data-ad-slot="7527859765"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>
    
</div>

<!-- end span8 -->
{% endblock middlecontent %}

<br/>

{% block sidecontent %}
  {% cache 3600 search_sidecontent_html %}
        {% include "./parts/sidepage/search_sidecontent.html" %}
  {% endcache %}
{% endblock sidecontent %}
