{% extends "sitebase.html" %}
s


{% block middlecontent %}

<div class="col-sm-12">
<br/>

  <div id="respo">
    <div class="panel panel-default">
      <div class="panel-heading">
        Mentions légales
      </div>

        <div class="panel-body">

        

        <div class="col-sm-12">

    <!-- BEGIN TABLE BODY -->
        <br>
        <h2> Lorem ipsum dolore sit amet </h2>
        <br>

        <div class="social-box">
            
            <div class="body">

              <h4>Lorem ipsum</h4>

              <dl>
                <dt>Lorem ipsum</dt>
                <dd>Lorem ipsum dolroe sit amet.Lorem ipsum dolroe sit amet</dd>
                <dt>Lorem</dt>
                <dd>Lorem ipsum dolroe sit ametLorem ipsum dolroe sit ametLorem ipsum dolroe sit amet.</dd>
                <dd>Lorem ipsum dolroe sit ametLorem ipsum dolroe sit amet</dd>
                <dt>Lorem ipsum</dt>
                <dd>Lorem ipsum dolroe sit ametLorem ipsum dolroe sit amet</dd>
              </dl>

              <br>

              <dl class="dl-horizontal">
                <dt>lorem ipsum</dt>
                <dd>Lorem ipsum dolroe sit amet Lorem ipsum dolroe sit amet.</dd>
                <dt>Lorem ipsmu</dt>
                <dd>Lorem ipsum dolroe sit ametLorem ipsum dolroe sit ametLorem ipsum dolroe sit amet.</dd>
                <dd>Lorem ipsum dolroe sit ametLorem ipsum dolroe sit amet.</dd>
                <dd>Lorem ipsum dolroe sit ametLorem ipsum dolroe sit amet.</dd>
                <dd>Lorem ipsum dolroe sit Lorem ipsum dolroe sit Lorem ipsum dolroe sit Lorem ipsum dolroe sit</dd>
                <dd>Lorem ipsum dolroe sit Lorem ipsum dolroe sit Lorem ipsum dolroe sit Lorem ipsum dolroe sit</dd>
                <dd>Lorem ipsum dolroe sit Lorem ipsum dolroe sit Lorem ipsum dolroe sit Lorem ipsum dolroe sit</dd>

                <dt>Lorem ipsum</dt>
                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                <dt>Felis euismod semper eget lacinia</dt>
                <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
              </dl>
            </div>
        </div>

        <br>
    
    <!-- END TABLE BODY -->

          <br/>
        </div>

        

    </div> <!-- end panel body -->  
      
    </div>

</div>

<div class="clearfix"></div>
<!-- Authors word -->

<div class="clear"></div>

<div class="panel panel-default">
  <div class="panel-body" style='padding-left: 0px;'>
    <div class="col-sm-12" style='padding-left: 0px;'>
      <!-- <img src="http://placehold.it/670x70" alt="placeholder image" class='img-responsive'> -->

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- footer_annonces -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:670px;height:90px"
           data-ad-client="ca-pub-7389849661114491"
           data-ad-slot="7527859765"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      
    </div>
  </div>
</div>

</div>
<!-- end span8 -->
{% endblock middlecontent %}
<br/>


{% block sidecontent %}

{% endblock sidecontent %}



{% block extra_js %}

<script>$(".mobile").click(function() {
      $("nav").slideToggle();  
    });

    var menu = $("nav");
    jQuery(window).on('resize', function(){     
        if(!jQuery(".mobile").is(":visible") && !menu.is(':visible'))
        {
            menu.css({'display':''});   
        }
    });//@ sourceURL=pen.js
    </script>


{% endblock extra_js %}