{% extends "sitebase.html" %}
s

{% block middlecontent %}

<div class="col-sm-12">
<br/>

  <div id="respo">
    <div class="panel panel-default">
      <div class="panel-heading">
        Tarifs et options
      </div>

        <div class="panel-body">

          <br/>

          <h2> Les services disponibles pour chaque inscrit: </h2>

            <br>   

            <div class="container">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="box">
                          <div class="box-icon">
                              <span class="fa fa-3x fa-user"></span>
                          </div>
                          <div class="info">
                              <h4 class="text-center">Candidat</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
                              <a href="/accounts/register" class="btn">s'inscrire</a>
                          </div>
                      </div>
                  </div>

                  <br/>
                  <br/>
                  <hr/>
                  <br/>
                  
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="box">
                          <div class="box-icon">
                              <span class="fa fa-3x fa-briefcase"></span>
                          </div>
                          <div class="info">
                              <h4 class="text-center">Employeur</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!
                              </p>
                              <a href="/accounts/register_emp" class="btn">s'inscrire</a>
                          </div>
                      </div>
                  </div>
            </div>
          </div>

          <br/>
          <br/>

          <h2> Les packs diponibles: </h2> 
          <br>

        
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-8">

      <!-- BEGIN TABLE BODY -->

        <div class="row-fluid">

              <div class="col-md-5 social-box">
                  <section class="body">
                      <div class="row-fluid pricing-table">
                        <!--  -->
                        <div class="col-md2 plan">
                          <div class="plan-header">
                            <h3>Mensuel</h3>
                            <small>Lorem ipsum dolor sit</small>
                          </div>
                          <div class="plan-price">
                            30 €/ Mois
                          </div>
                          <ul class="plan-features">
                            <li>60 cv téléchargeable</li>
                            <li>Lorem ipsum</li>
                            <li><strong>Recherche</strong> automatique</li>
                            <li><strong>Consultation</strong> gratuite</li>
                            
                          </ul>
                        </div>
                        <!--  -->
                      </div>

                      <div class="clearfix"></div>
                  </section>
              </div>

              <div class="col-md-5 social-box">
                  <section class="body">
                      <div class="row-fluid pricing-table">
                        <!--  -->
                        <div class="col-md2 plan">
                          <div class="plan-header">
                            <h3>Annuel</h3>
                            <small>Lorem ipsum dolor sit</small>
                          </div>
                          <div class="plan-price">
                            130€ / Année
                          </div>
                          <ul class="plan-features">
                            <li>220 cv téléchargeable</li>
                            <li>Lorem ipsum </li>
                            <li><strong>Recherche </strong> automatique</li>
                            <li><strong>Consultation</strong> gratuite</li>
                            
                          </ul>
                        </div>
                        <!--  -->
                      </div>

                      <div class="clearfix"></div>
                  </section>
              </div>

          </div>

    <!-- END TABLE BODY -->

          <br/>
        </div>

     <div class="clearfix"></div>

      <br>
      <hr/>
      <br>
      <h2> Paiement et sécurité  </h2>

      <div class="container">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="box">
                          <div class="box-icon">
                              <span class="fa fa-3x fa-cc-visa"></span>
                          </div>
                          <div class="info">
                              <h4 class="text-center">vos coordonnées bancaires</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
                              
                          </div>
                      </div>
                  </div>

                  <br/>
            </div>
          </div>

       <br>
       <br>   
      

    </div> <!-- end panel body -->  
      
    </div>

</div>

<div class="clearfix"></div>
<!-- Authors word -->

<div class="clear"></div>

<div class="panel panel-default">
  <div class="panel-body" style='padding-left: 0px;'>
    <div class="col-sm-12" style='padding-left: 0px;'>
      <!-- <img src="http://placehold.it/670x70" alt="placeholder image" class='img-responsive'> -->

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- footer_annonces -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:670px;height:90px"
           data-ad-client="ca-pub-7389849661114491"
           data-ad-slot="7527859765"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      
    </div>
  </div>
</div>

</div>
<!-- end span8 -->
{% endblock middlecontent %}
<br/>


{% block sidecontent %}

{% endblock sidecontent %}



{% block extra_js %}

<script>$(".mobile").click(function() {
      $("nav").slideToggle();  
    });

    var menu = $("nav");
    jQuery(window).on('resize', function(){     
        if(!jQuery(".mobile").is(":visible") && !menu.is(':visible'))
        {
            menu.css({'display':''});   
        }
    });//@ sourceURL=pen.js
    </script>


{% endblock extra_js %}