<select id="id_experience" style="margin-bottom:15px" class="form-control" name="experience">
  <option value="">---------</option>
  <option value="all" selected="selected">Tous</option>
  <option value="0"></option>
  <option value="1">debutant</option>
  <option value="2">6 mois</option>
  <option value="3">1 ans </option>
  <option value="4">2 ans </option>
  <option value="5">3 ans </option>
  <option value="6">4 ans </option>
  <option value="7">5 a 10 ans </option>
  <option value="8">10 ans et plus</option>
</select>