<select id="id_study_level" style="margin-bottom:15px" class="form-control" name="study_level">
  <option value="">---------</option>
  <option value="all" selected="selected">Tous</option>
  <option value="0"></option>
  <option value="1">2nd</option>
  <option value="2">BAC</option>
  <option value="3">BAC+2</option>
  <option value="4">BAC+3</option>
  <option value="5">BAC+4</option>
  <option value="6">BAC+5 et plus</option>
  <option value="7">BEPC</option>
  <option value="8">CAP/BEF</option>
</select>