{% load i18n %}

<div class="panel panel-default">

  <div class="panel-heading">
    <span class="fa-stack ">
      <i class="fa fa-square-o fa-stack-2x "></i>
      <i class="fa fa-rss fa-stack-1x "></i>
    </span>

    {% trans "Restez informés" %}
  </div>
  
  <div class="panel-body">
    <div class="row">

      <div class="col-sm-12 stayin">
        <div class="content_btm">

            <div class="content_btm_grid" align="center">
              <h3>{% trans "Abonnez vous à notre newsletter" %}</h3>
              <br>
              <p>{% trans "Entrez votre adresse mail et vous recevrez une notification à chaque nouvel article" %}</p>
            </div>

             
              <div class="search1">
                <form class="form_center">
                  <input type="text" value=""><br>
                  <input type="submit" value="Allez y">
                </form>
             </div>

          </div>
      </div>

    </div>

  </div>
  
</div>