{% load i18n %}

<div class="panel panel-default">

        <div class="panel-heading"> 
          <span class="fa-stack ">
            <i class="fa fa-square-o fa-stack-2x "></i>
            <i class="fa fa-shield fa-stack-1x "></i>
          </span>

          {% trans "Posts populaires" %} 
        </div>
        <div class="panel-body">

          <br/>
          <div id="secondary" class="widget-area span3" role="complementary">
        <aside id="dw_focus_tabs-6" class="widget dw_focus_tabs news-tab">

          <div class="nav-tab-select-wrap">
            <select name="nav-tabs-dw_focus_tabs-6" class="nav-tabs-by-select hidden-desktop">
              <option data-target="#dw_focus_popular_news-3" value="#dw_focus_popular_news-3">POSTS</option>
              <option data-target="#dw-recent-comments-dw-widget-1" value="#dw-recent-comments-dw-widget-1">COMMENTAIRES</option>

            </select>
          </div>

          <ul class="nav nav-tabs visible-desktop" id="nav-tabs-dw_focus_tabs-6">
            <li class="active">

              <!-- be careful to the urls it is used to navigate -->

              <a href="www.speedjob.fr/#dw_focus_popular_news-3">POSTS</a>
            </li>
            <li class="">
              <a href="www.speedjob.fr/#dw-recent-comments-dw-widget-1">COMMENTAIRES</a>
            </li>

          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="dw_focus_popular_news-3">
              <h3 class="widget-title">{% trans "Postes" %}</h3>

              {% if infos %}

              {% for i in infos %}

                  <article class="hentry item has-thumbnail content-print">

                  <div class="entry-thumbnail">
                    <a href="#">
                      <img width="110" height="110" src="{{ i.img.url }}" class="attachment-thumbnail wp-post-image" alt="article image"></a>
                  </div>

                  <div class="entry-meta">{{i.created|date:"SHORT_DATE_FORMAT"}}</div>

                  <h3 class="entry-title">
                    <a href="{{ i.get_absolute_url }}"> {{ i.title|slice:":55" }}.... </a>
                  </h3>

                </article>

              {% endfor %}

              {% else %}  

              <article class="hentry item active has-thumbnail content-print">

                <div class="entry-thumbnail">
                  <a href="#">
                    <img width="110" height="110" src="http://placehold.it/80x80" class="attachment-thumbnail wp-post-image" alt="Bloomberg tops $1B in gifts to alma mater Johns Hopkins University"></a>
                </div>

                <div class="entry-meta">20 Janvier, 2013</div>

                <h3 class="entry-title">
                  <a href="#">
                    Pole emploi : les règles devront être corrigées d'ici à mars
                  </a>
                </h3>

              </article>

              <article class="hentry item has-thumbnail content-print">

                <div class="entry-thumbnail">
                  <a href="#">
                    <img width="110" height="110" src="http://placehold.it/80x80" class="attachment-thumbnail wp-post-image" alt="Hackers take over sentencing commission website"></a>
                </div>

                <div class="entry-meta">20 Janvier, 2013</div>

                <h3 class="entry-title">
                  <a href="#">
                    la directrice part sur un bilan flatteur
                  </a>
                </h3>

              </article>

              <article class="hentry item has-thumbnail content-print">

                <div class="entry-thumbnail">
                  <a href="#">
                    <img width="110" height="110" src="http://placehold.it/80x80" class="attachment-thumbnail wp-post-image" alt="Tennessee lawmaker wants to tie welfare benefits to good grades"></a>
                </div>

                <div class="entry-meta">20 Janvier, 2013</div>

                <h3 class="entry-title">
                  <a href="#">
                    Journées Portes Ouvertes Pôle emploi Béziers Capiscol.
                  </a>
                </h3>

              </article>

              <article class="hentry item has-thumbnail content-print">

                <div class="entry-thumbnail">
                  <a href="#">
                    <img width="110" height="110" src="http://placehold.it/80x80" class="attachment-thumbnail wp-post-image" alt="Tennessee lawmaker wants to tie welfare benefits to good grades"></a>
                </div>

                <div class="entry-meta">20 Janvier, 2013</div>

                <h3 class="entry-title">
                  <a href="#">
                    Pôle emploi met en place des équipes de contrôleurs.
                  </a>
                </h3>

              </article>

              <article class="hentry item has-thumbnail content-print">

                <div class="entry-thumbnail">
                  <a href="#">
                    <img width="110" height="110" src="http://placehold.it/80x80" class="attachment-thumbnail wp-post-image" alt=""></a>
                </div>

                <div class="entry-meta">20 Janvier, 2013</div>

                <h3 class="entry-title">
                  <a href="#">
                    Pôle Emploi ouvre son «emploi store».
                  </a>
                </h3>

              </article>

              {% endif %}

            </div>
            <div class="tab-pane" id="dw-recent-comments-dw-widget-1">
              <h3 class="widget-title">{% trans "Commentaires" %}</h3>
              <ul id="dw_recentcomments">
                <li class="dw_recentcomments">
                  <img alt="" src="/static/img/user.jpg" class="avatar avatar-60 photo" height="60" width="60">
                  <div class="comment-info">

                    <span class="comment-date">9 Janvier 2013</span>
                    <span class="comment-title">
                      on
                      <a href="#">la directrice part sur un bilan flatteur</a>
                    </span>
                    <span class="comment-author">Par Inconnu</span>
                  </div>
                </li>
                <li class="dw_recentcomments">
                  <img alt="" src="/static/img/user.jpg" class="avatar avatar-60 photo avatar-default" height="60" width="60">
                  <div class="comment-info">

                    <span class="comment-date">9 Janvier 2013</span>
                    <span class="comment-title">
                      on
                      <a href="#">la directrice part sur un bilan flatteur</a>
                    </span>
                    <span class="comment-author">
                      by
                      <a href="http://twitter.com/honglt" rel="external nofollow" class="url">Le Hong</a>
                    </span>
                  </div>
                </li>
                <li class="dw_recentcomments">
                  <img alt="" src="/static/img/user.jpg" class="avatar avatar-60 photo avatar-default" height="60" width="60">
                  <div class="comment-info">

                    <span class="comment-date">9 Janvier 2013</span>
                    <span class="comment-title">
                      on
                      <a href="#"><span class="comment-author">Par Inconnu</span></a>
                    </span>
                    <span class="comment-author">
                      by
                      <a href="http://twitter.com/honglt" rel="external nofollow" class="url">Inconnu</a>
                    </span>
                  </div>
                </li>
                <li class="dw_recentcomments">
                  <img alt="" src="/static/img/user.jpg" class="avatar avatar-60 photo" height="60" width="60">
                  <div class="comment-info">

                    <span class="comment-date">9 Janvier 2013</span>
                    <span class="comment-title">
                      on
                      <a href="#">la directrice part sur un bilan flatteur</a>
                    </span>
                    <span class="comment-author">Par Inconnu</span>
                  </div>
                </li>
              </ul>

            </div>
          </div>
          <!-- end div tab-content --> </aside>

      </div>
        </div>
      </div>